@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFF5FA; /* rosa.fondo */
  color: #4D4D4D; /* gris texto */
  font-family: "Inter", sans-serif;
}

/* TITULOS */
h1, h2, h3, h4, h5, h6 {
  @apply font-bold text-gris-texto;
}

/* LINKS */
a {
  @apply text-rosa-oscuro hover:text-rosa-fuerte transition;
}

/* BOTONES */
.btn-principal {
  @apply bg-rosa font-semibold py-2 px-4 rounded-xl shadow-md 
         hover:bg-rosa-hover transition text-black;
}

.btn-secundario {
  @apply border border-rosa-fuerte text-rosa-fuerte px-4 py-2 rounded-xl
         hover:bg-rosa-pastel transition;
}

/* CONTENEDOR */
.container {
  @apply mx-auto px-4 sm:px-6 lg:px-8;
}

/* ANIMACIONES */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out;
}

@keyframes pulse-levemente {
  0% { transform: scale(1); }
  50% { transform: scale(1.06); }
  100% { transform: scale(1); }
}

.animate-pulse-levemente {
  animation: pulse-levemente 2.5s ease-in-out infinite;
}